.div1{
    display: flex;
    justify-content: center;
    background-color: rgb(173, 173, 177)
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
}
.div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}
body{
    padding:15px;
    margin: 0px;
}
.img1{
    display: inline-block;
    border-radius: 1000px;
    object-fit: cover;
max-height: 290px;
}
.img2{
    object-fit: cover;
    max-height:290px;
    display: inline-block;
}
h2{
font-family: 'Playfair Display', serif;

}
.about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
    background-color: rgb(173, 173, 177);
    padding: 20px 10px;
    gap: 10px;
}
p{
        max-width: 600px;
            font-family: 'Open Sans', sans-serif;


}
.journey{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    box-shadow: inset 0px 0px 20px rgb(239, 235, 235);
    width: 100%;


}
.journey-div2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img3{
    max-height: 250px;
    width: auto;
    object-fit: cover;
}
.contributions{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border:2px solid gray;
    box-shadow:4px 4px 20px gray;
    width: 100%;
}
.contri{
    display: flex;
     flex-direction: column; 
     font-size:small;
      justify-content: center; 
      align-items: center;
      width: 100%;
      text-align: center;

}
.author{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding:20px;
    width:fit-content;
    border:2px solid gray;
    box-shadow:4px 4px 20px gray;
}
.img4,.img5,.img6,.img7,.img8{
    max-height: 200px;
    width: auto;
    object-fit: cover;
}
.img5{
    max-height: 200px;
    width:100%;
    max-width: 100%;
}
.presidency{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
     border:2px solid gray;
    box-shadow:4px 4px 20px gray;
}
.inspire{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:
}
div{
    background-color: rgb(173, 173, 177);
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    padding: 15px;
}
.legacy{
    display: flex;
    flex-direction: column;
    align-items: center;
     border:2px solid gray;
    box-shadow:4px 4px 20px gray;

}
.concl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.concl+p{
    width: auto;
}
    ul, ol {
    font-family: 'Open Sans', sans-serif;
}
@media (max-width: 768px) {

    .div1,
    .about,
    .journey,
    .contributions,
    .author {
        flex-direction: column;
        text-align: center;
    }

    .img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8 {
        width: 100%;
        height: auto;
        display: inline-block;
    }

}
.box{
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
}
.author-para{
    width:auto;
    line-height: 2;

}
.quote{
    color:rgb(71, 41, 41);
}

